<div class="row justify-content-center">
  <div class="col-md-4 register-employee">
    <!-- form card register -->
    <div class="card-body">
      <form [formGroup]="marsuForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="inputName">Login</label>
          <input class="form-control" type="text" formControlName="login">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.login.errors?.required">
            Login is required.
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail3">Mot de passe</label>
          <input class="form-control" type="text" formControlName="password">
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.password.errors?.required">
            Password is required.
          </div>
          <div class="invalid-feedback" *ngIf="submitted && myForm.password.errors?.minLength">
            Minimum length is 6
          </div>
        </div>

        <div class="form-group">
          <label for="inputEmail3">Age</label>
          <input class="form-control" type="text" formControlName="age">
        </div>

        <div class="form-group">
          <label for="inputPassword3">Famille</label>
          <select class="custom-select form-control" (change)="updateF($event.target.value)"
            formControlName="famille">
            <option value="">Choose...</option>
            <option *ngFor="let f of MarsuFamille" value="{{f}}">{{f}}
            </option>
          </select>
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.famille.errors?.required">
            Veuillez choisir une famille.
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword3">Race</label>
          <select class="custom-select form-control" (change)="updateR($event.target.value)"
            formControlName="race">
            <option value="">Choose...</option>
            <option *ngFor="let r of MarsuRace" value="{{r}}">{{r}}
            </option>
          </select>
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.race.errors?.required">
            Veuillez choisir une race.
          </div>
        </div>

        <div class="form-group">
          <label for="inputPassword3">Nourriture</label>
          <select class="custom-select form-control" (change)="updateN($event.target.value)"
            formControlName="nourriture">
            <option value="">Choose...</option>
            <option *ngFor="let n of nourriture" value="{{n}}">{{n}}
            </option>
          </select>
          <!-- error -->
          <div class="invalid-feedback" *ngIf="submitted && myForm.nourriture.errors?.required">
            Veuillez choisir une nourriture.
          </div>
        </div>

        <div class="form-group">
          <button class="btn btn-success btn-lg btn-block" type="submit">Sign Up</button>
        </div>
      </form>

    </div>
  </div><!-- form card register -->
</div>
